<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <h1><%= isEditMode ? 'Edit Product' : 'Add Product' %></h1>
      <form class="product-form" action="<%= isEditMode ? '/admin/edit-product' : '/admin/add-product' %>" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" value="<%= isEditMode ? product.title : '' %>"/>
        </div>
        <div class="form-control">
          <label for="imageUrl">Image URL</label>
          <input type="text" name="imageUrl" id="imageUrl" value="<%= isEditMode ? product.imageUrl : 'https://miro.medium.com/proxy/0*PoSTDEOG59Ma9TIQ' %>"/>
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input type="number" name="price" id="price" step="0.01" value="<%= isEditMode ? product.price : '' %>"/>
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea name="description" id="description" rows="5"><%= isEditMode ? product.description : '' %></textarea>
        </div>
        <% if (isEditMode) { %>
          <input type="hidden" name="productId" value="<%= product.id %>"/>
        <% } %>

        <button class="btn" type="submit"><%= isEditMode ? "Update Product" : "Add Product"%></button>
      </form>
    </main>

  </body>
  <%- include('../includes/end.ejs') %>
